import("graph", "GSEABase","cellHTS2","BioNet","biomaRt")
import("AnnotationDbi")

export(
	"paraCheck",
	"aggregatePvals",
	"analyze",
	"annotationConvertor",
	"interactome",
	"preprocess",
	"show",
	"summary",
	"report",
	"score",
	"selectHits",
	"calculateNWAPvals",
	"reportAll",
	"plotSubNet",
	"viewSubNet",
	"plotGSEA",
	"viewGSEA",
	"biogridDataDownload", 
       "celAnnotationConvertor",
       "cellHTS2OutputStatTests",
       "collectionGsea",
       "drosoAnnotationConvertor",
       "duplicateRemover",
       "FDRcollectionGsea",
       "analyzeGeneSetCollections",
       "getTopGeneSets",
       "GOGeneSets",
       "gseaPlots",
       "gseaScores",
       "gseaScoresBatch",
       "gseaScoresBatchParallel",
       "HTSanalyzeR4cellHTS2",
       "KeggGeneSets",
       "mammalAnnotationConvertor",
       "multiHyperGeoTest",
       "networkAnalysis",
       "networkPlot",
	"pairwiseGsea",
	"pairwiseGseaPlot",
	"pairwisePhenoMannWith",
       "permutationPvalueCollectionGsea",
       "hyperGeoTest",
       "writeHits",
       "writeHTSAHtmlHead",
       "writeHTSAHtmlTab",
       "writeHTSAHtmlTail",
       "writeHTSAHtmlTable",
       "GenHTSAHtmlRowUnit",
       "htmlAttrVectorPaste",
       "makeGSEAplots",
       "makeOverlapTable",
       "writeReportHTSA")



