body
{
    font-family:Helvetica;
    text-align:center;
    padding:0px;
    margin:0px;
}

table.border
{
    height:100%;
    padding:0px; 
    margin:0px;
    margin-left:10px;
    margin-top:10px;
    border-spacing:0px; 
    empty-cells:show; 
    border-collapse:collapse; 
    font-family:Helvetica;
    width:99%; 
        
}

tr.border
{
    padding:0px; 
    margin:0px;
}

td.border
{
    background-color:#6699cc; 
    padding:0px; 
    margin:0px;
}

td.corner
{
    background-repeat:no-repeat; 
    background-image:url(bordercorner.gif); 
    width:53px; 
    height:60px; 
    font-size:45px;
}

td.top
{
    height:60px; 
    border-bottom:1px solid #336699;
}


div.header
{
    font-size:14px; 
    color:white; 
    padding-left:70px; 
    float:left;
}

span.header
{
    font-size:23px;
    font-weight:bold;
    margin-left:5px;
}


div.timestamp
{
	margin-left:230px;
	float:left;
	font-size: 10px;
	color:white;
	vertical-align:bottom;
	position:relative;
	top:25px;
	font-style:italic;
}

div.HTSheader
{
    font-size:23px;
    font-weight:bold;
    color:white;
    padding-right:10px; 
    float:right;
}

div.HTSlogos
{
    padding-right:10px; 
    float:right;
}

tr.middle
{
    vertical-align:top;
}

td.left
{
    border-right:1px solid #336699;
}

div.main
{
    padding:20px;
    padding-top:10px;
    height:100%;
}

td.main
{
    background-color:white;
}

table.noframe
{
	border-style:groove;
	border-collapse:separate;
	border-color:#6699cc;
	border-spacing: 1px;
	border-style:none;
	padding-right:10px;
}
td.tabs{
	border-style:solid;
	border-width: 2px; 
    border-style: solid;
    border-color: #6699cc;
    background-color: #6699cc;
}
h3
{
    font-family:Helvetica;
    padding:5px;
    margin:5px;
    text-align:center;  
    font-size:80%;
    color: #FFFF99;    
}
td.tabs h3 a{
	color: #FFFFFF;
}


tr.odd td {
	background-color: #FFFFFF; 
	color: black;
}
tr.even td {
	background-color: #EEEEEE; 
	color: black;
}
tr.odd td.signif {
	background-color: #66FF77; 
	color: black;
}
tr.even td.signif {
	background-color: #66FF77; 
	color: black;
}
tr.head th {
	background-color: #6699cc; 
	color: black;
}
table.results
{
	border-style:hidden;
	border-collapse:separate;
	border-color:#6699cc;
	border-spacing: 1px;
}
tr.HTS{
	padding:20px; 
}